*{
    margin : 0; 
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Poppins, sans-serif;

}


#map { 
    height: 35rem; 
    width: 53rem;
    margin: auto;
    border: solid 1px;
}

.list {
    width: 300px;
    height: 250px;
}


.container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px 70px;
    justify-content: center;
}

 .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

h1 {
    background-color: #6687a0;
    margin-bottom: 1%;
    padding: 2.2%;
}

h1 span {
    font-size: 1.2em;
    display: block;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

@keyframes reveal {
    0% {
        transform: translate(0, 100%);
    }

    100% {
        transform: translate(30, 0);
    }
}

h2 {
   margin: 2em 0em 3em 0em; 
   padding: 1.6%;
   background-color: #65a7da;
   font-size: 1.5em;
}

p{
    margin: 2em 0em 2em 0em;
    font-size: 1.3rem;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.name {
    margin: 0px;
    border-bottom: 0.6px black solid;
}

.adress {
    margin: 1.3em 0em  0em 0em;
}

.allbuttons {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: stretch;
} 

.navigation {
    width: 7%;
}

.pages {
width: 90%;
}

.pagination {
    width: 7%;
    flex-grow: 1;
    align-self: center;
}


.accueil {
    display: grid;
    grid-template-columns: auto auto;
}

.texte {
margin: 2%;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;

}

aside {
align-self: flex-end;
font-size: 1em;
}

.list {
    background-color: rgb(245, 237, 226);
    border: 1.5px black solid; 
    padding : 10px;
}

footer{
    background-color: #90b1ca;
    margin-top: 1%;
    padding: 1.7%;
    font-size: 1rem;
}

nav:first-of-type{
    display: flex;
    flex-direction: column;
    align-items:safe;
}

nav span {
    font-size: 0.8rem;
    font-weight: 700;
}

nav:last-of-type{
    display: flex;
    flex-direction: column;
    align-items: self-end;
    align-content: baseline;
}